<template>
    <div>
        <heading class="mb-6">{{__('Feed Manager')}}</heading>
        <div class="card relative">
            <div class="overflow-hidden overflow-x-auto relative">
                <table
                        class="table w-full"
                        cellpadding="0"
                        cellspacing="0">
                    <thead>
                    <tr>
                        <th class="text-left">{{ __('Feed name') }}</th>
                        <th class="text-left">{{ __('Last Fetched At') }}</th>
                        <th class="td-fit text-center">{{ __('Status') }}</th>
                        <th class="td-fit text-center">{{ __('Update Feed') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="feed in feeds" :key="feed.key">
                        <td>{{ feed.title }}</td>
                        <td>{{ feed.last_fetched_at }}</td>
                        <td class="td-fit text-center">
                            <button
                                    class="btn btn-default rounded-full"
                                    :class="{'text-white bg-success':feed.active, 'bg-light btn-outline':!feed.active}"
                                    @click="changeStatus(feed)">
                                <span v-if="feed.active">{{ __('Turn off') }}</span>
                                <span v-else>{{ __('Turn on') }}</span>
                            </button>
                        </td>
                        <td class="td-fit text-center">
                            <button class="btn btn-default btn-primary"
                                    @click="update(feed)"
                                    :disabled="feed.updating"
                            >
                                <span v-if="feed.updated">{{ __("Feed Updated!") }}</span>
                                <span v-else-if="feed.updating">{{ __("Please wait...") }}</span>
                                <span v-else>{{ __('Update Feed') }}</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
      data: () => ({
        feeds: []
      }),

      created () {
        this.getFeeds()
      },

      methods: {
        async getFeeds () {
          const { data: feeds } = await Nova.request().get('/nova-vendor/feed-manager')

          this.feeds = feeds
          this.loading = false
        },

        changeStatus (feed) {
          Nova.request().post(
            `/nova-vendor/feed-manager/${feed.key}`, {active: !feed.active}
          ).then(() => {
            feed.active = !feed.active
          })
        },

        update (feed) {
          this.$set(feed, 'updating', true)

          Nova.request().post(
            `/nova-vendor/feed-manager/run`, { feed: feed.key }
          ).finally(() => {
            this.$set(feed, 'updated', true)
          })
        }
      }
    }
</script>
